<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>孙思瑞</string>
		<key>content</key>
		<string>HONEY-SSR</string>
		<key>github</key>
		<string>https://github.com/HONEY-SSR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rising &amp; SSR</string>
		<key>content</key>
		<string>2769119954</string>
		<key>github</key>
		<string>https://github.com/SungKai/ByteDanceCampus_Klotski</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吴晓明</string>
		<key>content</key>
		<string>Xlight5</string>
		<key>github</key>
		<string>https://github.com/Xlight5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宋嘉明</string>
		<key>content</key>
		<string>SungKai</string>
		<key>github</key>
		<string>https://github.com/SungKai</string>
	</dict>
	<dict>
		<key>name</key>
		<string>耿洋</string>
		<key>content</key>
		<string>TastyHeadphones</string>
		<key>github</key>
		<string>https://github.com/TastyHeadphones</string>
	</dict>
	<dict>
		<key>name</key>
		<string>牟金腾</string>
		<key>content</key>
		<string>cnatom</string>
		<key>github</key>
		<string>https://github.com/cnatom</string>
	</dict>
</array>
</plist>
